@font-face {
    font-family: 'pop'; 
    src: local('Poppins'); 
}

* {
    font-family: 'Poppins';
}

.main{
    background-color: #6e3dd1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 7px 0;
}
p{
    margin: 0;
    margin-left: 24px;
    font-weight: 300;
    
}
.text{
    font-size: 14px;
}
a{
    all: unset;
    color: white;
    text-decoration: underline;
    transition: all 150ms ease-in-out;
}

a:hover{
    color: hsl(82, 100%, 56%);
}

button{
    all: unset;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}