@font-face {
    font-family: 'pop'; 
    src: local('Poppins'); 
}

* {
    font-family: 'Poppins';
}
.line{
    display: inline-block;
}
.qnbtn{
    height: 40px;
    width: 40px;
    border-radius: 7px;
    border: 1px solid rgb(181, 181, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.bindi{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position :absolute;
    background-color: #703ed1;
    top: 23px;
    left: 23px;
    border: 3px solid white;
}

.unseen{
    background-color: #fff;
}

.seen{
    background-color: #f54a3a;
    color: #fff;
    border: 1px solid #f49087;
}
.save{
    border-radius: 50%;
    background-color: #11b73d;
    border: 1px solid #b0eebf;
    color: #fff;
}
.curr{
    /* border-radius: 50%; */
    background-color: rgb(0, 76, 255);
    color: #fff;
}


.dot{
    display: none;
}