@font-face {
    font-family: 'poppins'; 
    src: local('Poppins'); 
}

body{
    font-family: 'poppins', sans-serif;
}
  
/* .mainbody{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 300px;
    width: 350px;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 5px #5d20d3;
    padding: 15px;
   
} */
 
.heading{
    padding-left: 12px;
}
.signtext{
    margin: 10px 15px;
    font-size: 13.5px;
}
.field input{
    width: 316.5px;
    height:30px;
    margin:8px 10px 0 9px;
    font-size: 15px;
    padding-left: 8px;
    border-radius: 5px;
    background-color:#f0edf7;
    border: 0px solid rgb(78, 78, 78);
}
.field  input:focus{
    border: 1px solid #5d20d3;
    background-color: white;
    outline:none;
}
.logbtn{
    margin:30px 8px 10px;
}
.logbtn button{
    height: 35px;
    width: 331px;
    font-size: 16px;
    font-weight: 600;
    background-color: #5d20d3;
    color: white;
    border: none;
    border-radius: 4px;
}
.signup{
    margin: 0 0 0 7px;
    font-size: 13px;
}
.signup p{
    margin:1px;
}
@font-face {
    font-family: 'poppins'; 
    src: local('Poppins'); 
}

body{
    font-family: 'poppins', sans-serif;
}
  
.mainbody{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 480px;
    width: 350px;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 5px #5d20d3;
    padding: 15px;
    /* align-items: center; */
}
.heading{
    padding-left: 12px;
}
.signtext{
    margin: 10px 15px;
    font-size: 13.5px;
}
.opt{
    display: flex;
    justify-content: space-around;
}
.opt button{
    background-color: white;
    width: 155px;
    height: 65px;
    cursor: pointer;
    border: 1px solid #b69de7;
    border-radius: 8px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #b69de7;
}
.opt .selected{
    border: 2px solid #f0edf7;
    background-color: #5d20d3;
    color: white;
    font-weight: 500;

}
.field input{
    width: 316.5px;
    height:30px;
    margin:8px 10px 0 9px;
    font-size: 15px;
    padding-left: 8px;
    border-radius: 5px;
    background-color:#f0edf7;
    border: 0px solid rgb(78, 78, 78);
}
.field  input:focus{
    border: 1px solid #5d20d3;
    background-color: white;
    outline:none;
}
.signbtn{
    margin:30px 8px 10px;
}
.signbtn button{
    height: 35px;
    width: 331px;
    font-size: 16px;
    font-weight: 600;
    background-color: #5d20d3;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.login{
    margin: 0 0 0 7px;
    font-size: 13px;
}
.login p{
    margin:1px;
}